* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: auto;
  font-family: sans-serif;
}
.header {
  width: 100%;
  color: red;
  position: static;
}
marquee {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
}
.video-container {
  position: relative;
}
video{
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}
.flex {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 25%;
  width: 50vw;
  display: flex;
}
.title {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
  bottom: 60px;
  display: inline-block;
}
.content p {
  color: white;
  font-size: 4vmin;
  text-align: center;
}
.btn {
  padding: 20px;
  text-align: center;
}
.Register_btn,
.Explore_btn {
  background-color: red;
  border: none;
  border: 2px solid red;
  color: white;
  padding: 13px 32px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width:400px){
  .Register_btn{
    padding: 13px 28px
  }
}
.Register_btn:hover,
.Explore_btn:hover {
  background-color: #000;
  border-color: red;
  color: #fff;
  cursor: pointer;
}
.about {
  width: 100%;
  position: relative;
  background-color: #000;
  color: white;
  display: block;
}
.container {
  border: 2px solid red;
  margin: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.about_logo {
  width: 50%;
  height: auto;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}
.about_logo img {
  width: 15rem;
  /* height: 40vmin; */
}
.about_content {
  width: 50%;
  padding-block: 10px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_content_box {
  width: 80%;
  height: fit-content;
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_content_box h3 {
  text-align: center;
  color: #fff;
  font-size: 8vmin;
  /* padding: 10px; */
}
.about_content_box p {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .about_logo {
    width: 100%;
    height: 50%;
  }
  .about_content {
    width: 100%;
    height: 50%;
  }
}

.countDown {
  margin-top: 10%;
  width: 100%;
  background-color: red;
  color: #fff;
  font-size: 7vmin;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}
.countDown p {
  display: inline-block;
  padding: 2px;
}
footer {
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: red;
  color: #fff;
  letter-spacing: 0.7px;
  font-size: 3vmin;

}
footer a {
  font-weight: bold;
  color: #00ffc8;
  text-decoration: none;
  font-size: 3vmin;
  align-items: center;
}
.events_container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  background-color: #000;
}
.content-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.event_card {
  min-width: 300px;
  min-height: 300px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 30px 30px;
  box-shadow: 0px 2px 5px 0px rgba(255, 254, 254, 0.56);
}
@media screen and (max-width: 600px) {
  .event_card{
    margin: 20px 2px;
  }
}
.event_card img {
  width: 300px; 
  height: 300px; 
  /* padding-block: 10px; */
  justify-content: center;
  display: flex;
  align-items: center;
}
.event_card h3 {
  color: white;
  margin: 5px 0px;
  font-size: 30px;
  font-weight: bold;
}
.event_card p {
  color: red;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.event_card a{
  background-color: red;
  color: white;
  padding: 13px 25px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;

}
.cash_prize {
  width: 100%;
  background-color: red;
  color: #fff;
  font-size: 9vmin;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}
@media screen and (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }
}
.empty_div{
  height: 15vmin;
  background-color: #000;
  display: flex;
}
.coordinators_img{
  width: 100%;
  height:550px;
  padding: 50px;
  background-color: #000;
  justify-content: center;
  text-align: center;
}
.img_card{
  display: inline-block;
  text-align: center;
  padding: 5px 20px 30px 20px;
}
.img_card img{
  height: 300px;
  width: 300px;
}
.img_card h2{
  margin-top: 15px;
  color: #fff;
}
.img_card p{
  color: #fff;
}
.rules{
  width: 100%;
  height: auto;
  background-color: red;
}
.rules_content{
  font-size: 5vmin;
  font-weight: bold;
  color: #fff;
  margin: 20px;

}
.college_info{
  width: 100%;
  height: auto;
  background-color: 
  #252525;
}
.college_content{
  font-size: 5vmin;
  font-weight: bold;
  color: #fff;
  margin: 20px;
}
.college_container{
  width: 100%;
  height: auto;
  padding: 20px;
}
.college_container h1{
  color: #fff;
  font-size: 4vmin;
  padding: 5px 0px 20px 0px;
}
.college_container h3{
  color: #fff;
  font-size: 3vmin;
  line-height: 2;
}

.rules_container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 10px;
  background-color: red;
}
.rules-content-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.rules_card {
  background-color: #000;
  min-width: 300px;
  min-height: 300px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 5px 0px rgba(255, 255, 255,0.4);
}
.rules_card h1{
  margin: 40px;
  color: white;
  font-size: 8vmin;
}
.rules_card h3{
  margin: 2px;
  color: white;
}
.rules_card p{
  margin-top: 25px;
  padding: 0px 5px 0px 5px;
  color: white;
}
@media screen and (max-width:350px){
  .rules_card p{
    padding: 50px;
  }
}
.james_bond{
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: #0e0d0d;
  flex-direction: row;
}
.james_bond_img{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.james_bond_wishes{
  display: inline-block;
  justify-items: center;
  align-self: center;
  text-align: center;
}
.james_bond_wishes h1{
  padding: 20px;
  text-align: center;
  font-size: 6vmin;
}
@media screen and (max-width: 600px) {
  .james_bond{
    flex-direction: column;
  }
}
.james_bond_wishes a{
  background-color: red;
  color: white;
  padding: 13px 25px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}